// Handler styling elements...

.nav_container {
    @include flexLayoutRowDefault;
    @include flexLayoutBasisTwenty;
    justify-content: space-between;
    align-items: center;
    padding: $padding-none;
    a {
        @include flexLayoutRowDefault;
        justify-content: space-between;
        align-items: center;
        margin: $margin-auto;
        .nav_logotype {
            display: block;
            width: $percent-seventyFive;
            margin: $margin-auto;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
        }
    }
    .handler_toggle {
        padding: $padding-all-half;
        background-color: $background-color-primary;
        color: $font-color-primary;
        cursor: pointer;
        i {
            content: '';
            height: $px-two;
            width: $px-twentyFive;
            display: block;
            margin: $margin-custom-i;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
        }
        @media (min-width: $resolution-small-mobile) {
            i {
                width: $px-twentyFive;
            }
        }
    }
    @media (min-width: $resolution-large-mobile) {
        .handler_toggle {
            display: none;
        }
    }
}
@import './menu';
