/*
 * Header styling elements...
 */

#root {
    > header {
        @include flexLayoutColumnDefault;
        width: 100%;
        height: auto;
        background-color: #000;
        nav {
            @include flexLayoutColumnDefault;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            max-width: 768px;
            position: relative;
        }
        @media (min-width: 768px) {
            nav {
                @include flexLayoutRowDefault;
                justify-content: space-around;
                max-width: 100%;
                padding: 1em 0em;
                > * {
                    background-color: #FFF;
                }
            }
        }
    }
}
