// Header styling elements...

> header {
    @include flexLayoutColumnDefault;
    width: $percent-hundred;
    height: auto;
    background-color: $background-color-primary;
    color: $font-color-primary;
    nav {
        @include flexLayoutColumnDefault;
        width: $percent-hundred;
        height: $percent-hundred;
        margin: $margin-auto;
        max-width: $resolution-large-mobile;
        position: relative;
    }
    @media (min-width: $resolution-large-mobile) {
        nav {
            @include flexLayoutRowDefault;
            justify-content: space-around;
            max-width: $percent-hundred;
            padding: padding-tb-lr;
            > * {
                background-color: $background-color-secondary;
                color: $font-color-secondary;
            }
        }
    }
}
