// Header styling elements...

header {
    @include flexLayoutRowDefault;
    height: auto;
    nav {
        @include flexLayoutColumnDefault;
        width: $percent-hundred;
        height: $percent-hundred;
        margin: $margin-auto;
        max-width: $resolution-large-mobile;
        position: relative;

        @import './handler';
    }
    @media (min-width: $resolution-large-mobile) {
        nav {
            @include flexLayoutRowDefault;
            justify-content: space-around;
            max-width: $percent-hundred;
            > * {
                background-color: $background-color-secondary;
                color: $font-color-secondary;
            }
        }
    }
}
