// Menu styling elements...

.handler_navigation {
    @include flexLayoutColumnDefault;
    @include flexLayoutBasisSeventy;
    max-height: $vh-zero;
    width: $percent-hundred;
    list-style: none;
    padding: $padding-none;
    border: 2px solid transparent;
    text-align: center;
    overflow: hidden;
    transition: max-height 2s, padding 2s, border-bottom 2s;
    &.active {
        max-height: $px-sevenHundredFifty;
        border-bottom: 2px solid #F90;
        transition: max-height 4s, padding 1s, border-bottom 4s;
    }
    li {
        @include flexLayoutColumnDefault;
        @include flexLayoutBasisAuto;
        align-items: center;
        a {
            @include flexLayoutColumnDefault;
            width: $percent-hundred;
            height: auto;
            padding: $padding-rl-tb;
            font-size: $font-size-small;
            background-color: $background-color-tertiary;
            color: $font-color-tertiary;
            letter-spacing: $px-one;
            text-transform: uppercase;
            transition: color .4s ease;
            &:after {
                content: '';
                display: block;
                height: 0.2em;
                width: $percent-zero;
                position: relative;
                left: $percent-fifty;
                margin: $margin-top-half;
                background-color: $background-color-secondary;
                color: $font-color-secondary;
                transition-property: left,width,background-color,color;
                transition-duration: .7s;
                transition-timing-function: ease;
            }
            &:focus:after {
                width: $percent-hundred;
                left: $percent-zero;
                background-color: #ffcd00;
            }
        }
        &:hover {
            a:after {
                width: $percent-hundred;
                left: $percent-zero;
                background-color: #ffcd00;
            }
        }
    }
}
@media (min-width: $resolution-large-mobile) {
    .handler_navigation {
        @include flexLayoutRowDefault;
        max-height: $percent-hundred;
        display: flex;
        justify-content: space-evenly;
        &.active {
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
        }
    }
}
