// Highlights styling elements...

.highlights_navigation {
    @include flexLayoutColumnDefault;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: $margin-top;
    li {
        @include flexLayoutBasisMax;
        position: relative;
        max-height: $vh-twentyFive;
        width: $percent-seventyFive;
        margin: $margin-bottom;
        padding: $padding-all;
        background-color: $background-color-primary;
        color: $font-color-primary;
        &:hover {
            a {
                span {
                    &:after {
                        width: $percent-hundred;
                        left: 0;
                        background-color: $color-orange-light;
                    }
                }
            }
        }
        a {
            @include flexLayoutColumnDefault;
            @include flexLayoutCenterDefault;
            background-color: $background-color-tertiary;
            color: $font-color-tertiary;
            &:focus {
                span {
                    &:after {
                        width: $percent-hundred;
                        left: 0;
                        background-color: $color-orange-light;
                    }
                }
            }
            .highlights_image {
                display: block;
                width: $percent-hundred;
                height: $vh-twentyFive;
            }
            div {
                position: absolute;
                span {
                    @include flexLayoutColumnDefault;
                    width: auto;
                    padding: $padding-rl-tb;
                    background-color: $background-color-tertiary;
                    color: $font-color-tertiary;
                    font-size: $font-size-small;
                    &:after {
                        content: '';
                        display: block;
                        height: $page-indicator-height;
                        width: $percent-zero;
                        position: relative;
                        left: $percent-fifty;
                        margin: $margin-top-half;
                        background-color: $background-color-secondary;
                        color: $font-color-secondary;
                        transition-property: width,background-color,left;
                        transition-duration: .7s;
                        transition-timing-function: ease;
                    }
                }
            }
        }
    }
    @media (min-width: $resolution-large-mobile) {
        li {
            @include flexLayoutBasisForty;
        }
    }
    @media (min-width: $resolution-small-monitor) {
        li {
            @include flexLayoutBasisTwentyFive;
        }
    }
}
@media (min-width: $resolution-large-mobile) {
    .highlights_navigation {
        flex-direction: row;
    }
}
