/*
 * Global styling elements...
 */
html, body, header, footer, section, div, span, img, h1, h2, h3, h4,
p, a, q, strong, ul, li, iframe, video, audio, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

p {
  font-size: 1em; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/*
 * Root styling elements...
 */
.hidden {
  display: none !important; }

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #333;
  color: #CCC; }
  #root > main {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
    background-color: #000;
    color: #F90; }
    #root > main.home > section:nth-child(2) {
      margin: 0; }
    #root > main.home > section > nav {
      background-color: #FFF;
      color: #333; }
    #root > main.content > section > * {
      padding: 1rem; }
    #root > main.content > section > .contentContainer {
      padding: 1rem; }
      #root > main.content > section > .contentContainer > * {
        background-color: #333;
        color: #CCC;
        padding: 1rem; }
    #root > main.form > section > .contentContainer {
      padding: 1rem;
      background-color: #FFF;
      color: #333; }
      #root > main.form > section > .contentContainer > * {
        background-color: #333;
        color: #CCC;
        padding: 1rem; }
    @media (min-width: 1366px) {
      #root > main:not(.home) > section {
        margin: 1rem 7rem 0rem 7rem; }
        #root > main:not(.home) > section:nth-child(2) {
          margin: 5rem 7rem 0rem 7rem; } }
    #root > main > section {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      background-color: #FFF;
      color: #333;
      text-align: justify;
      overflow: hidden; }

#root > header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #333;
  color: #CCC; }
  #root > header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 768px;
    position: relative; }
  @media (min-width: 768px) {
    #root > header nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      max-width: 100%;
      padding: padding-tb-lr; }
      #root > header nav > * {
        background-color: #FFF;
        color: #333; } }

#root .nav_container {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: space-between;
  align-items: center;
  padding: 0; }
  #root .nav_container a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    #root .nav_container a .nav_logotype {
      display: block;
      width: 75%;
      background-color: #FFF;
      color: #333; }
  @media (min-width: 768px) {
    #root .nav_container a {
      display: flex;
      flex-direction: column; }
      #root .nav_container a > .nav_logotype {
        width: 100%; } }
  #root .nav_container .handler_toggle {
    padding: 0.5rem;
    background-color: #333;
    color: #CCC;
    cursor: pointer; }
    #root .nav_container .handler_toggle i {
      content: '';
      height: 2px;
      width: 25px;
      display: block;
      margin: 3px 0px;
      background-color: #FFF;
      color: #333; }
    @media (min-width: 480px) {
      #root .nav_container .handler_toggle i {
        width: 25px; } }
  @media (min-width: 768px) {
    #root .nav_container .handler_toggle {
      display: none; } }

#root .handler_navigation {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  max-height: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  border: 2px solid transparent;
  text-align: center;
  overflow: hidden;
  transition: max-height 2s, padding 2s, border-bottom 2s; }
  #root .handler_navigation.active {
    max-height: 750px;
    border-bottom: 2px solid #F90;
    transition: max-height 4s, padding 1s, border-bottom 4s; }
  #root .handler_navigation li {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center; }
    #root .handler_navigation li a {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      font-size: 0.9em;
      background-color: #000;
      color: #F90;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: color .4s ease; }
      #root .handler_navigation li a:after {
        content: '';
        display: block;
        height: 0.2em;
        width: 0;
        position: relative;
        left: 50%;
        margin: 0.5rem 0 0 0;
        background-color: #FFF;
        color: #333;
        transition-property: left,width,background-color,color;
        transition-duration: .7s;
        transition-timing-function: ease; }
      #root .handler_navigation li a:focus:after {
        width: 100%;
        left: 0;
        background-color: #ffcd00; }
    #root .handler_navigation li:hover a:after {
      width: 100%;
      left: 0;
      background-color: #ffcd00; }

@media (min-width: 768px) {
  #root .handler_navigation {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    display: flex;
    justify-content: space-evenly; }
    #root .handler_navigation.active {
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent; } }

#root .highlights_navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0 0 0; }
  #root .highlights_navigation li {
    flex-basis: 100%;
    position: relative;
    max-height: 25vh;
    width: 75%;
    margin: 0 0 1rem 0;
    padding: 1rem;
    background-color: #333;
    color: #CCC; }
    #root .highlights_navigation li:hover a span:after {
      width: 100%;
      left: 0;
      background-color: #ffcd00; }
    #root .highlights_navigation li a {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      background-color: #000;
      color: #F90; }
      #root .highlights_navigation li a:focus span:after {
        width: 100%;
        left: 0;
        background-color: #ffcd00; }
      #root .highlights_navigation li a .highlights_image {
        display: block;
        width: 100%;
        height: 25vh; }
      #root .highlights_navigation li a div {
        position: absolute; }
        #root .highlights_navigation li a div span {
          display: flex;
          flex-direction: column;
          width: auto;
          padding: 0.5rem 1.5rem 0.5rem 1.5rem;
          background-color: #000;
          color: #F90;
          font-size: 0.9em; }
          #root .highlights_navigation li a div span:after {
            content: '';
            display: block;
            height: 0.2em;
            width: 0;
            position: relative;
            left: 50%;
            margin: 0.5rem 0 0 0;
            background-color: #FFF;
            color: #333;
            transition-property: width,background-color,left;
            transition-duration: .7s;
            transition-timing-function: ease; }
  @media (min-width: 768px) {
    #root .highlights_navigation li {
      flex-basis: 40%; } }
  @media (min-width: 1366px) {
    #root .highlights_navigation li {
      flex-basis: 25%; } }

@media (min-width: 768px) {
  #root .highlights_navigation {
    flex-direction: row; } }

#root .collageContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap; }
  #root .collageContainer a {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 1rem; }
    #root .collageContainer a:hover div {
      opacity: 1; }
    #root .collageContainer a:focus div {
      opacity: 1; }
    #root .collageContainer a img {
      display: block;
      width: 100%; }
    #root .collageContainer a div {
      position: absolute;
      padding: 1rem;
      background-color: #000;
      color: #F90;
      opacity: 0; }

@media (min-width: 768px) {
  #root .collageContainer {
    flex-direction: row; } }

#root .childrenContainer {
  display: flex;
  flex-direction: column; }
  #root .childrenContainer .contact_summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    #root .childrenContainer .contact_summary .contact_full {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 1rem;
      background-color: #FFF;
      color: #333; }
      #root .childrenContainer .contact_summary .contact_full ul {
        display: flex;
        flex-direction: column;
        margin: 0 0 0.5rem 0;
        padding: 1rem;
        background-color: #333;
        color: #CCC; }
        #root .childrenContainer .contact_summary .contact_full ul:first-child li:last-child {
          margin: 0.5rem 0 0 0; }
        #root .childrenContainer .contact_summary .contact_full ul:last-child a {
          text-transform: uppercase; }
        #root .childrenContainer .contact_summary .contact_full ul li:first-child {
          margin: 0 0 0.5rem 0; }
        #root .childrenContainer .contact_summary .contact_full ul li a {
          background-color: #000;
          color: #F90; }
    @media (min-width: 768px) {
      #root .childrenContainer .contact_summary .contact_full {
        flex-basis: 30%;
        flex-grow: 1;
        flex-shrink: 1; } }
    @media (min-width: 1366px) {
      #root .childrenContainer .contact_summary .contact_full {
        flex-basis: 25%;
        flex-grow: 1;
        flex-shrink: 1; } }
    #root .childrenContainer .contact_summary .contact_map {
      display: flex;
      flex-direction: row;
      flex-basis: 60%;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 1rem;
      background-color: #FFF;
      color: #333; }
      #root .childrenContainer .contact_summary .contact_map iframe {
        width: 100%;
        min-height: 50vh; }
      @media (min-width: 1366px) {
        #root .childrenContainer .contact_summary .contact_map iframe {
          min-height: 75vh; } }
  @media (min-width: 768px) {
    #root .childrenContainer .contact_summary {
      flex-direction: row; } }
  #root .childrenContainer .contact_tree {
    display: flex;
    flex-direction: column; }
    #root .childrenContainer .contact_tree ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 0 1rem 0;
      padding: 0 0 2rem 0;
      background-color: #FFF;
      color: #333; }
      #root .childrenContainer .contact_tree ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        width: 75%;
        max-height: 35vh;
        margin: 2rem 0 0 0;
        padding: 1rem;
        background-color: #333;
        color: #CCC; }
        #root .childrenContainer .contact_tree ul li.none:hover span:after {
          width: 100%;
          left: 0;
          background-color: #F00; }
        #root .childrenContainer .contact_tree ul li.none a {
          cursor: not-allowed; }
          #root .childrenContainer .contact_tree ul li.none a:focus span:after {
            width: 100%;
            left: 0;
            background-color: #F00; }
          #root .childrenContainer .contact_tree ul li.none a span:after {
            content: '';
            display: block;
            height: 0.2em;
            width: 0;
            position: relative;
            left: 50%;
            margin: 0.5rem 0 0 0;
            background-color: #FFF;
            color: #333;
            transition-property: width,background-color,left;
            transition-duration: .7s;
            transition-timing-function: ease; }
        #root .childrenContainer .contact_tree ul li:hover a span:after {
          width: 100%;
          left: 0;
          background-color: #ffcd00; }
        #root .childrenContainer .contact_tree ul li a:focus span:after {
          width: 100%;
          left: 0;
          background-color: #ffcd00; }
        #root .childrenContainer .contact_tree ul li a span:after {
          content: '';
          display: block;
          height: 0.2em;
          width: 0;
          position: relative;
          left: 50%;
          margin: 0.5rem 0 0 0;
          background-color: #FFF;
          color: #333;
          transition-property: width,background-color,left;
          transition-duration: .7s;
          transition-timing-function: ease; }
        #root .childrenContainer .contact_tree ul li a {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          background-color: #000;
          color: #F90; }
          #root .childrenContainer .contact_tree ul li a .office_image {
            display: block;
            width: 100%;
            height: 15vh; }
          @media (min-width: 480px) {
            #root .childrenContainer .contact_tree ul li a .office_image {
              height: 25vh; } }
          #root .childrenContainer .contact_tree ul li a div {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 25%;
            width: 50%;
            transform: translateY(-50%);
            text-align: center; }
            #root .childrenContainer .contact_tree ul li a div span {
              display: flex;
              flex-direction: column;
              width: auto;
              padding: 0.5rem 1.5rem 0.5rem 1.5rem;
              background-color: #000;
              color: #F90;
              font-size: 0.9em; }
        #root .childrenContainer .contact_tree ul li div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%; }
          #root .childrenContainer .contact_tree ul li div .contact_image {
            display: block;
            width: 100%;
            height: 35vh; }
          #root .childrenContainer .contact_tree ul li div div {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: -10%;
            width: 110%;
            background-color: rgba(0, 0, 0, 0.3);
            transition: background-color .7s;
            transform: translateY(-50%);
            text-align: center; }
            #root .childrenContainer .contact_tree ul li div div:hover {
              background: black; }
            #root .childrenContainer .contact_tree ul li div div span {
              display: flex;
              flex-direction: column;
              width: auto;
              padding: 0.5rem 1.5rem 0.5rem 1.5rem;
              font-size: 0.9em; }
              #root .childrenContainer .contact_tree ul li div div span:last-child a {
                text-transform: uppercase; }
    @media (min-width: 768px) {
      #root .childrenContainer .contact_tree ul {
        flex-direction: row;
        flex-wrap: wrap; }
        #root .childrenContainer .contact_tree ul:first-child li {
          flex-basis: 40%; }
        #root .childrenContainer .contact_tree ul:last-child li {
          flex-basis: 25%; } }
    @media (min-width: 1366px) {
      #root .childrenContainer .contact_tree ul:first-child li {
        flex-basis: 25%; }
      #root .childrenContainer .contact_tree ul:last-child li {
        flex-basis: 25%; } }

#root #contactForm > .formBody {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #CCC; }
  #root #contactForm > .formBody > .formGroup {
    padding: 1rem;
    background-color: #FFF;
    color: #333; }
    #root #contactForm > .formBody > .formGroup:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #root #contactForm > .formBody > .formGroup:first-child .formRow .formElement {
        width: 100%;
        padding: 1rem 0 0 0; }
    @media (min-width: 1024px) {
      #root #contactForm > .formBody > .formGroup:first-child {
        flex-direction: row; } }
    #root #contactForm > .formBody > .formGroup:last-child {
      display: flex;
      flex-direction: row; }
      #root #contactForm > .formBody > .formGroup:last-child .formRow:last-child {
        width: 100%; }
      @media (min-width: 480px) {
        #root #contactForm > .formBody > .formGroup:last-child .formRow:last-child {
          width: auto;
          justify-content: space-evenly; } }
      @media (min-width: 1024px) {
        #root #contactForm > .formBody > .formGroup:last-child .formRow:last-child {
          justify-content: flex-end; } }
    @media (min-width: 480px) {
      #root #contactForm > .formBody > .formGroup:last-child {
        flex-direction: column; } }
    #root #contactForm > .formBody > .formGroup > .formGroup:first-child {
      flex-basis: 30%;
      flex-grow: 1;
      flex-shrink: 1; }
    #root #contactForm > .formBody > .formGroup > .formGroup:last-child {
      flex-basis: 60%;
      flex-grow: 1;
      flex-shrink: 1; }
    @media (min-width: 768px) {
      #root #contactForm > .formBody > .formGroup > .formGroup:first-child > .formRow:first-child > .formElement:first-child input {
        border-radius: 4px 0 0 4px; }
      #root #contactForm > .formBody > .formGroup > .formGroup:first-child > .formRow:first-child > .formElement:last-child input {
        border-radius: 0 4px 4px 0; } }
  #root #contactForm > .formBody > .formGroup:last-child .formRow:last-child {
    padding: 0 0 1rem 0; }
  #root #contactForm > .formBody > .formGroup:last-child .formRow .formElement {
    margin: 0 1rem 0 1rem; }
  #root #contactForm > .formBody .formGroup .formRow {
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem;
    background-color: #333;
    color: #CCC; }
    #root #contactForm > .formBody .formGroup .formRow .formElement label {
      display: flex;
      flex-direction: column; }
      #root #contactForm > .formBody .formGroup .formRow .formElement label span:last-child {
        align-self: flex-end;
        position: relative;
        bottom: 2.25em;
        right: 1em;
        color: #aaa; }
    #root #contactForm > .formBody .formGroup .formRow .formElement input {
      height: unset;
      padding: 1rem;
      border: 2px solid #e5e5e5;
      border-radius: 4px;
      box-shadow: 0 0 0 0 transparent; }
      #root #contactForm > .formBody .formGroup .formRow .formElement input.invalid {
        background-color: #a66; }
        #root #contactForm > .formBody .formGroup .formRow .formElement input.invalid::placeholder {
          color: #FFF; }
      #root #contactForm > .formBody .formGroup .formRow .formElement input:hover {
        border: 2px solid #ffcc00;
        background-color: #333;
        color: #CCC; }
      #root #contactForm > .formBody .formGroup .formRow .formElement input:focus {
        border: 2px solid #ffcc00;
        background-color: #333;
        color: #CCC; }
    #root #contactForm > .formBody .formGroup .formRow .formElement textarea {
      min-height: 27vh;
      padding: 1rem;
      border: 2px solid #e5e5e5;
      border-radius: 4px;
      resize: none;
      overflow: auto; }
      #root #contactForm > .formBody .formGroup .formRow .formElement textarea.invalid {
        background-color: #a66; }
        #root #contactForm > .formBody .formGroup .formRow .formElement textarea.invalid::placeholder {
          color: #FFF; }
      #root #contactForm > .formBody .formGroup .formRow .formElement textarea:hover {
        border: 2px solid #ffcc00;
        background-color: #333;
        color: #CCC; }
      #root #contactForm > .formBody .formGroup .formRow .formElement textarea:focus {
        border: 2px solid #ffcc00;
        background-color: #333;
        color: #CCC; }
  @media (min-width: 768px) {
    #root #contactForm > .formBody .formGroup .formRow {
      flex-direction: row; } }

#root .helpSection {
  display: flex;
  flex-direction: column; }
  #root .helpSection header {
    padding: 1rem;
    background-color: #FFF;
    color: #333; }
    #root .helpSection header * {
      background-color: #333;
      color: #CCC;
      padding: 1rem; }
  #root .helpSection .helpRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: inherit;
    padding: 1rem;
    background-color: #FFF;
    color: #333; }
    #root .helpSection .helpRow .rowLabel:first-child {
      flex-basis: 20%;
      padding: 1rem;
      background-color: #333;
      color: #CCC; }
    #root .helpSection .helpRow .rowLabel:last-child {
      flex-basis: 75%;
      background-color: #333;
      color: #CCC; }
    #root .helpSection .helpRow .rowContent {
      display: flex;
      flex-direction: column;
      flex-basis: 70%;
      justify-content: space-between;
      align-items: flex-start;
      padding: 1rem;
      background-color: #333;
      color: #CCC; }
      #root .helpSection .helpRow .rowContent div:first-child {
        margin: 0 0 1rem 0; }
      #root .helpSection .helpRow .rowContent div p strong {
        margin: 0 1rem 0 0; }
      #root .helpSection .helpRow .rowContent p strong {
        margin: 0 1rem 0 0; }
    #root .helpSection .helpRow > p:first-child {
      flex-basis: 20%;
      padding: 0.5rem;
      background-color: #333;
      color: #CCC; }
    #root .helpSection .helpRow > p:last-child {
      flex-basis: 75%;
      background-color: #333;
      color: #CCC; }
  @media (min-width: 768px) {
    #root .helpSection .helpRow {
      flex-direction: row;
      align-items: center; } }

#root > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  background-color: #333;
  color: #CCC;
  padding: 1rem; }
  #root > footer header {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #root > footer header a {
      display: block;
      width: 75%; }
      #root > footer header a .footer_logotype {
        display: block;
        width: 100%;
        background-color: #FFF;
        color: #333; }
  #root > footer section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    background-color: #FFF;
    color: #333; }
    #root > footer section .contact_minimal {
      overflow: hidden; }
      #root > footer section .contact_minimal ul {
        display: flex;
        flex-direction: column;
        margin: 0 0 0.5rem 0;
        padding: 0rem 0.5rem 1rem 0.5rem;
        background-color: #333;
        color: #CCC; }
        #root > footer section .contact_minimal ul:first-child li:last-child {
          margin: 1rem 0 0 0; }
        #root > footer section .contact_minimal ul li:first-child {
          margin: 1rem 0 1rem 0; }
        #root > footer section .contact_minimal ul li:last-child {
          margin: 0; }
        #root > footer section .contact_minimal ul li a {
          background-color: #000;
          color: #F90;
          text-transform: uppercase; }
  @media (min-width: 768px) {
    #root > footer section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 75%;
      margin: 1rem 0 1rem 0;
      padding: 1rem; } }
  #root > footer footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    background-color: #FFF;
    color: #333;
    padding: 1rem; }
  @media (min-width: 768px) {
    #root > footer footer {
      flex-direction: row; } }

#root .sitemap_navigation {
  display: flex;
  flex-direction: column; }
  #root .sitemap_navigation ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    background-color: #333;
    color: #CCC; }
    #root .sitemap_navigation ul li {
      margin: 0.5rem; }
      #root .sitemap_navigation ul li.bold {
        font-weight: 900; }
      #root .sitemap_navigation ul li a {
        background-color: #000;
        color: #F90; }
  @media (min-width: 768px) {
    #root .sitemap_navigation ul {
      margin-left: 0.5rem; } }

#root > footer footer div {
  background-color: #333;
  color: #CCC; }

#root > footer footer .footer_copyright {
  margin: 0 0 1rem 0;
  font-size: 0.9em;
  text-align: center; }
  #root > footer footer .footer_copyright strong {
    display: block;
    margin: 1rem; }
    #root > footer footer .footer_copyright strong a {
      background-color: #000;
      color: #F90; }

@media (min-width: 768px) {
  #root > footer footer .footer_copyright {
    margin: 0; } }

#root > footer footer .footer_by {
  font-size: 0.9em; }
  #root > footer footer .footer_by span {
    display: block;
    margin: 1rem; }
    #root > footer footer .footer_by span a {
      background-color: #000;
      color: #F90; }
