main {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    background-color: #444;
}

main > div {
}

main > div > * {
    display: block;
    width: 100%;
    height: auto;
}

main > section {
    display: flex;
    flex-direction: column;
    margin: 2em 2em 0em 2em;
    text-align: justify;
    overflow: hidden;
}

main.home > section:nth-child(2) {
    margin: 0em;
}

/*@media (min-width: 1024px) {
    main:not(.home) > section {
        margin: 3em 5em 2em 5em;
    }
}*/

@media (min-width: 1366px) {
    main:not(.home) > section {
        margin: 5em 7em 3em 7em;
    }
}

main.home > section > nav {
    background-color: #FFF;
}

main.content > section > * {
    /*margin-bottom: 1em;*/
    padding: 1em;
    background-color: #FFF;
    color: #000;
}

main > section > p {
    font-size: 1.25em;
}

main.content > section > .contentContainer {
    padding: 1em;
}

main.form > section > .contentContainer {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #FFF;
    color: #000;
}
