main {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    background-color: #444;
}

main > div {
}

main > div > * {
    display: block;
    width: 100%;
    height: auto;
}

main > section {
    display: flex;
    flex-direction: column;
    margin: 2em 2em 0em 2em;
    text-align: justify;
    overflow: hidden;
}

main.home > section:nth-child(2) {
    margin: 0em;
}

/*@media (min-width: 1024px) {
    main:not(.home) > section {
        margin: 3em 5em 2em 5em;
    }
}*/

@media (min-width: 1366px) {
    main:not(.home) > section {
        margin: 5em 7em 3em 7em;
    }
}

main.home > section > nav {
    background-color: #FFF;
}

main.content > section > * {
    /*margin-bottom: 1em;*/
    padding: 1em;
    background-color: #FFF;
    color: #000;
}

main > section > p {
    font-size: 1.25em;
}

main.content > section > .contentContainer {
    padding: 1em;
}

main.content > section > .contentContainer .collageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    main.content > section > .contentContainer .collageContainer {
        flex-direction: row;
    }
}

main.content > section > .contentContainer .collageContainer > a {
    /*width: 75%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

/*@media (min-width: 480px) {
    main.content > section > .contentContainer .collageContainer > a {
        width: 50%;
    }
}

@media (min-width: 768px) {
    main.content > section > .contentContainer .collageContainer > a {
        width: 25%;
    }
}*/

main.content > section > .contentContainer .collageContainer > a > img {
    display: block;
    width: 100%;
}

main.content > section > .contentContainer .collageContainer > a > div {
    position: absolute;
    padding: 1em;
    background-color: #000;
    opacity: 0;
}

main.content > section > .contentContainer .collageContainer > a:focus > div {
    opacity: 1;
}

main.form > section > .contentContainer {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #FFF;
    color: #000;
}

main.form > section > .childrenContainer {
    display: flex;
    flex-direction: column;
}

/*main.form > section > div:not(:nth-child(4)) {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}*/

.highlights_navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

@media (min-width: 768px) {
    .highlights_navigation {
        flex-direction: row;
    }
}

.highlights_navigation > li {
    flex: 0 1 100%;
    position: relative;
    max-height: 25vh;
    width: 75%;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #333;
}

@media (min-width: 768px) {
    .highlights_navigation > li {
        flex: 0 1 40%;
    }
}

@media (min-width: 1366px) {
    .highlights_navigation > li {
        flex: 0 1 25%;
    }
}

.highlights_navigation > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: #F90; /*Same as for a tags*/
}

.highlights_navigation > li > a > div {
    position: absolute;
/*    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    left: 0;*/
}

.highlights_navigation > li > a > div > span {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0.5em 1.5em;
    background-color: #000;
    font-size: 14px;
}

.highlights_navigation > li > a > div > span:after {
    -webkit-transition-property: width,background-color,left;
    -moz-transition-property: width,background-color,left;
    -ms-transition-property: width,background-color,left;
    -o-transition-property: width,background-color,left;
    transition-property: width,background-color,left;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    -ms-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.highlights_navigation > li > a > div > span:after {
    content: '';
    display: block;
    height: 0.2em;
    width: 0;
    position: relative;
    left: 50%;
    margin-top: 0.25em;
    background-color: #FFF;
}

.highlights_navigation > li > a > div > span:after {
    width: 100%;
    left: 0;
    background-color: #ffcd00;
}

.highlights_navigation > li > a > div > span:after {
    content: '';
    display: block;
    height: 0.2em;
    width: 0;
    position: relative;
    left: 50%;
    margin-top: 0.25em;
    background-color: #FFF;
}

.highlights_navigation > li:hover > a > div > span:after, .highlights_navigation > li > a:focus > div > span:after {
    width: 100%;
    left: 0;
    background-color: #ffcd00;
}

.highlights_image {
    display: block;
    width: 100%;
    height: 25vh;
}


.contact_summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .contact_summary {
        flex-direction: row;
    }
}

.contact_full {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0em;
    padding: 1em;
    background-color: #333;
}

@media (min-width: 768px) {
    .contact_full {
        flex: 1 0 30%;
    }
}

@media (min-width: 1366px) {
    .contact_full {
        flex: 1 0 25%;
    }
}

.contact_full > ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 1em;
    background-color: #333;/*TODO: FFF*/
}

.contact_full > ul > li {
    margin-left: 0px;
    margin-right: 0px;
}

.contact_full > ul > li:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact_full > ul > li:nth-child(5) {
    margin-top: 0px;
}

.contact_full > ul:first-child > li:last-child {
    margin-top: 25px;
    /*margin-bottom: 25px;*/
}

.contact_full > ul > li > a {
    text-transform: uppercase;
}

.contact_map {
    display: flex;
    flex-direction: row;
    flex: 1 0 60%;
    padding: 1em;
    background-color: #333;
}

.contact_map > iframe {
    width: 100%;
    min-height: 50vh;
}

@media (min-width: 1366px) {
    .contact_map > iframe {
        min-height: 75vh;
    }
}

.contact_tree {
    display: flex;
    flex-direction: column;
}

.contact_tree > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2em;
    margin-bottom: 1em;
    background-color: #FFF;
}

@media (min-width: 768px) {
    .contact_tree > ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.contact_tree > ul:first-child > li, .contact_tree > ul:last-child > li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*flex: 0 1 100%;*/
    position: relative;
    width: 75%;
    max-height: 35vh;
    margin-top: 2em;
    padding: 1em;
    background-color: #333;
}

.contact_tree > ul:first-child > li {
}

.contact_tree > ul > li {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     /*flex: 0 1 100%;*/
     position: relative;
     width: 75%;
     max-height: 35vh;
     margin-top: 2em;
     padding: 1em;
     background-color: #333;
}

@media (min-width: 768px) {
    .contact_tree > ul:first-child > li {
        flex: 0 1 40%;
    }

    .contact_tree > ul:last-child > li {
        flex: 0 1 25%;
    }
}

@media (min-width: 1366px) {
    .contact_tree > ul:first-child > li, .contact_tree > ul:last-child > li {
        flex: 0 1 25%;
    }
}

.contact_tree > ul > li > a, .contact_tree > ul > li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact_tree > ul > li.none > a {
    cursor: not-allowed;
}

.contact_tree > ul:first-child > li > a > img {
    display: block;
    width: 100%;
    height: 15vh;
}

@media (min-width: 480px) {
    .contact_tree > ul:first-child > li > a > img {
        height: 25vh;
    }
}

.contact_tree > ul:last-child > li > div > img {
    display: block;
    width: 100%;
    height: 35vh;
}

.contact_tree > ul:first-child > li > a > div {
    flex-direction: column;
    position: absolute;
    left: 25%;
    width: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.contact_tree > ul:last-child > li > div > div {
    flex-direction: column;
    position: absolute;
    width: 110%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.contact_tree > ul:first-child > li > a > div {
    top: 50%;
}

.contact_tree > ul:last-child > li > div > div {
    bottom: -10%;
}

.contact_tree > ul:last-child > li > div > div {
    display: flex;
    background: rgba(0,0,0,.3);
    transition: background .7s;
}

.contact_tree > ul:last-child > li > div > div:hover {
    background: rgba(0,0,0,1);
}

.contact_tree > ul > li > a > div > span, .contact_tree > ul > li > div > div > span {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0.5em 1.5em;
    font-size: 14px;
}

.contact_tree > ul:first-child > li > a > div > span {
    background-color: #000;
}

.contact_tree > ul:first-child > li:not(.none) > a > div > span:after,
.contact_tree > ul:first-child > li.none > a > div > span:after {
    -webkit-transition-property: width,background-color,left;
    -moz-transition-property: width,background-color,left;
    -ms-transition-property: width,background-color,left;
    -o-transition-property: width,background-color,left;
    transition-property: width,background-color,left;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    -ms-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.contact_tree > ul:first-child > li:not(.none) > a > div > span:after {
    content: '';
    display: block;
    height: 0.2em;
    width: 0;
    position: relative;
    left: 50%;
    margin-top: 0.25em;
    background-color: #FFF;
}

.contact_tree > ul:first-child > li:not(.none):hover > a > div > span:after,
.contact_tree > ul:first-child > li:not(.none) > a:focus > div > span:after {
    width: 100%;
    left: 0;
    background-color: #ffcd00;
}

.contact_tree > ul:first-child > li.none > a > div > span:after {
    content: '';
    display: block;
    height: 0.2em;
    width: 0;
    position: relative;
    left: 50%;
    margin-top: 0.25em;
    background-color: #FFF;
}

.contact_tree > ul:first-child > li.none:hover > a > div > span:after,
.contact_tree > ul:first-child > li.none > a:focus > div > span:after {
    width: 100%;
    left: 0;
    background-color: #F00;
}
