// Global variables used for all scss files...

// Colours used for background, text and borders...
$color-black: #000;
$color-white: #FFF;
$color-grey: #CCC;
$color-grey-dark: #333;
$color-orange: #F90;
$color-orange-light: #ffcc00;
$color-red: #F00;
$color-red-light: #a66;

// Font size variables...
$default-size: 1;
$font-size: $default-size + rem;
$font-size-h1: $default-size * 2.50 + rem;
$font-size-h2: $default-size * 2.25 + rem;
$font-size-h3: $default-size * 2.00 + rem;
$font-size-h4: $default-size * 1.75 + rem;
$font-size-h5: $default-size * 1.50 + rem;
$font-size-small: $default-size * 0.90 + rem;
$font-size-smaller: $default-size * 0.75 + rem;
$page-indicator-height: $default-size * 0.20 + rem;
$form-counter-bottom: $default-size * 2.25 + rem;

// Font-family variables...
$font-family-custom: CUSTOM;
$font-family-ms: "Segoe UI", Arial, sans-serif;
$font-family-apple: -apple-system, BlinkMacSystemFont, Helvetica;
$font-family-misc: Ubuntu, Roboto, "Droid Sans", Oxygen-Sans, Cantarell;
$font-family-complete: $font-family-ms + ", " + $font-family-apple + ", " + $font-family-misc;
$font-family-standard: $font-family-custom + ", " + $font-family-complete;

// Margin variables...
$margin-none: 0;
$margin-auto: 0 auto;
$margin-all: 1rem;
$margin-all-half: 0.5rem;
$margin-rl-tb: 0 1rem 0 1rem;
$margin-tb-lr: 1rem 0 1rem 0;
$margin-top: 1rem 0 0 0;
$margin-top-double: 2rem 0 0 0;
$margin-top-half: 0.5rem 0 0 0;
$margin-top-quarter: 0.25rem 0 0 0;
$margin-right: 0 1rem 0 0;
$margin-right-half: 0 0.5rem 0 0;
$margin-bottom: 0 0 1rem 0;
$margin-bottom-half: 0 0 0.5rem 0;
$margin-left: 0 0 0 1rem;
$margin-left-half: 0 0 0 0.5rem;
$margin-custom-i: 3px 0px;
$margin-custom-section-large: 1rem 7rem 0rem 7rem;
$margin-custom-section-larger: 5rem 7rem 0rem 7rem;

// Padding variables...
$padding-none: 0;
$padding-all: 1rem;
$padding-all-half: 0.5rem;
$padding-rl-tb: 0.5rem 1.5rem 0.5rem 1.5rem;
$padding-tb-lr: 1.5rem 0.5rem 1.5rem 0.5rem;
$padding-top: 1rem 0 0 0;
$padding-top-half: 0.5rem 0 0 0;
$padding-right: 0 1rem 0 0;
$padding-right-half: 0 0.5rem 0 0;
$padding-bottom: 0 0 1rem 0;
$padding-bottom-double: 0 0 2rem 0;
$padding-bottom-half: 0 0 0.5rem 0;
$padding-left: 0 0 0 1rem;
$padding-left-half: 0 0 0 0.5rem;
$padding-custom-formRow: 0rem 1.5rem;
$padding-custom-ul: 0rem 0.5rem 1rem 0.5rem;

// Dimension variables...
$percent-hundred: 100%;
$percent-seventyFive: 75%;
$percent-seventy: 70%;
$percent-sixty: 60%;
$percent-fiftyFive: 55%;
$percent-fifty: 50%;
$percent-forty: 40%;
$percent-thirty: 30%;
$percent-twentyFive: 25%;
$percent-twenty: 20%;
$percent-ten: 10%;
$percent-zero: 0%;
$vh-hundred: 100vh;
$vh-seventyFive: 75vh;
$vh-fifty: 50vh;
$vh-thirtyFive: 35vh;
$vh-twentySeven: 27vh;
$vh-twentyFive: 25vh;
$vh-fifteen: 15vh;
$vh-zero: 0vh;
$px-oneThousandSixHundred: 1600px;
$px-oneThousandThreeHundredSixtySix: 1366px;
$px-oneThousandTwentyFour: 1024px;
$px-sevenHundredSixtyEight: 768px;
$px-sevenHundredFifty: 750px;
$px-fourHundredEighty: 480px;
$px-twentyFive: 25px;
$px-five: 5px;
$px-four: 4px;
$px-three: 3px;
$px-two: 2px;
$px-one: 1px;
$px-zero: 0px;

// Resolutions variables...
$resolution-small-mobile: $px-fourHundredEighty;
$resolution-large-mobile: $px-sevenHundredSixtyEight;
$resolution-large-tablet: $px-oneThousandTwentyFour;
$resolution-small-monitor: $px-oneThousandThreeHundredSixtySix;
$resolution-large-monitor: $px-oneThousandSixHundred;

// Border variables...
$border-default: $px-two solid $color-grey;
$border-active: $px-two solid $color-orange-light;
$border-handler-bottom: $px-two solid $color-orange;
$border-radius-left-pointing: $px-five $px-zero $px-zero $px-five;
$border-radius-right-pointing: $px-zero $px-five $px-five $px-zero;
