/*
 * Global mixins used for all scss files...
 */

@mixin flexLayoutDefault {
    display: flex;
}

@mixin flexLayoutColumnDefault {
    @include flexLayoutDefault;
    flex-direction: column;
}

@mixin flexLayoutRowDefault {
    @include flexLayoutDefault;
    flex-direction: row;
}

@mixin flexLayoutCenterDefault {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
