/*
 * Global styling elements...
 */

@import './global_variables';
@import './global_themes';
@import './global_mixins';

html, body, header, footer, section, div, span, img, h1, h2, h3, h4,
p, a, q, strong, ul, li, iframe, video, audio, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

p {
    font-size: $font-size;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
