// Global mixins used for all scss files...

@mixin flexLayoutDefault {
    display: flex;
}

@mixin flexLayoutColumnDefault {
    @include flexLayoutDefault;
    flex-direction: column;
}

@mixin flexLayoutRowDefault {
    @include flexLayoutDefault;
    flex-direction: row;
}

@mixin flexLayoutCenterDefault {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@mixin flexLayoutResponsive {
    flex-grow: 1;
    flex-shrink: 1;
}

@mixin flexLayoutBasisAuto {
    flex-basis: auto;
}

@mixin flexLayoutBasisTwenty {
    flex-basis: $percent-twenty;
}

@mixin flexLayoutBasisTwentyFive {
    flex-basis: $percent-twentyFive;
}

@mixin flexLayoutBasisThirty {
    flex-basis: $percent-thirty;
}

@mixin flexLayoutBasisForty {
    flex-basis: $percent-forty;
}

@mixin flexLayoutBasisFifty {
    flex-basis: $percent-fifty;
}

@mixin flexLayoutBasisFiftyFive {
    flex-basis: $percent-fiftyFive;
}

@mixin flexLayoutBasisSixty {
    flex-basis: $percent-sixty;
}

@mixin flexLayoutBasisSeventy {
    flex-basis: $percent-seventy;
}

@mixin flexLayoutBasisSeventyFive {
    flex-basis: $percent-seventyFive;
}

@mixin flexLayoutBasisMax {
    flex-basis: $percent-hundred;
}
