// Global themes that determine the look of the website...

// Development theme...
$background-color-primary: $color-grey-dark;
$background-color-secondary: $color-white;
$background-color-tertiary: $color-black;
$font-color-primary: $color-grey;
$font-color-secondary: $color-grey-dark;
$font-color-tertiary: $color-orange;

// TOOD: Dark theme...
// $background-color-primary: $color-black;
// $background-color-secondary: $color-black;
// $background-color-tertiary: $color-black;
// $font-color-primary: $color-white;
// $font-color-secondary: $color-white;
// $font-color-tertiary: $color-white;

// TOOD: Bright theme...
// $background-color-primary: $color-white;
// $background-color-secondary: $color-white;
// $background-color-tertiary: $color-white;
// $font-color-primary: $color-black;
// $font-color-secondary: $color-black;
// $font-color-tertiary: $color-black;
