/*
 * Root styling elements...
 */

.hidden {
    display: none !important;
}

#root {
    @include flexLayoutColumnDefault;
    min-height: $vh-hundred;
    background-color: $background-color-primary;
    color: $font-color-primary;
    > main {
        @include flexLayoutColumnDefault;
        padding: $padding-bottom-double;
        background-color: $background-color-tertiary;
        color: $font-color-tertiary;
        &.home {
            > section {
                &:nth-child(2) {
                    margin: $margin-none;
                }
                > nav {
                    background-color: $background-color-secondary;
                    color: $font-color-secondary;
                }
            }
        }
        &.content {
            > section {
                > * {
                    padding: $padding-all;
                }
                > .contentContainer {
                    padding: $padding-all;
                    > * {
                        background-color: $background-color-primary;
                        color: $font-color-primary;
                        padding: $padding-all;
                    }
                }
            }
        }
        &.form {
            > section {
                > .contentContainer {
                    padding: $padding-all;
                    background-color: $background-color-secondary;
                    color: $font-color-secondary;
                    > * {
                        background-color: $background-color-primary;
                        color: $font-color-primary;
                        padding: $padding-all;
                    }
                }
            }
        }
        @media (min-width: $resolution-small-monitor) {
            &:not(.home) {
                > section {
                    margin: $margin-custom-section-large;
                    &:nth-child(2) {
                        margin: $margin-custom-section-larger;
                    }
                }
            }
        }
        > section {
            @include flexLayoutColumnDefault;
            margin: $margin-all;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            text-align: justify;
            overflow: hidden;
        }
    }
}
