/*
 * Contact styling elements...
 */

#root {
    .childrenContainer {
        display: flex;
        flex-direction: column;
        .contact_summary {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 1em;
            .contact_full {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: 0em;
                padding: 1em;
                background-color: #333;
                ul {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    padding-bottom: 1em;
                    background-color: #333;
                    &:first-child {
                        li {
                            &:last-child {
                                margin-top: 10px;
                            }
                        }
                    }
                    &:last-child {
                        a {
                            text-transform: uppercase;
                        }
                    }
                    li {
                        margin-left: 0px;
                        margin-right: 0px;
                        &:first-child {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            @media (min-width: 768px) {
                .contact_full {
                    flex: 1 0 30%;
                }
            }
            @media (min-width: 1366px) {
                .contact_full {
                    flex: 1 0 25%;
                }
            }
            .contact_map {
                display: flex;
                flex-direction: row;
                flex: 1 0 60%;
                padding: 1em;
                background-color: #333;
                iframe {
                    width: 100%;
                    min-height: 50vh;
                }
                @media (min-width: 1366px) {
                    iframe {
                        min-height: 75vh;
                    }
                }
            }
        }
        @media (min-width: 768px) {
            .contact_summary {
                flex-direction: row;
            }
        }
        .contact_tree {
            display: flex;
            flex-direction: column;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                padding-bottom: 2em;
                margin-bottom: 1em;
                background-color: #FFF;
                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    position: relative;
                    width: 75%;
                    max-height: 35vh;
                    margin-top: 2em;
                    padding: 1em;
                    background-color: #333;
                    &.none {
                        &:hover {
                            a {
                                div {
                                    span {
                                        &:after {
                                            width: 100%;
                                            left: 0;
                                            background-color: #F00;
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            cursor: not-allowed;
                            &:focus {
                                div {
                                    span {
                                        &:after {
                                            width: 100%;
                                            left: 0;
                                            background-color: #F00;
                                        }
                                    }
                                }
                            }
                            div {
                                span {
                                    &:after {
                                        content: '';
                                        display: block;
                                        height: 0.2em;
                                        width: 0;
                                        position: relative;
                                        left: 50%;
                                        margin-top: 0.25em;
                                        background-color: #FFF;
                                        transition-property: width,background-color,left;
                                        transition-duration: .7s;
                                        transition-timing-function: ease;
                                    }
                                }
                            }
                        }
                    }
                    &:not(&.none) {
                        &:hover {
                            a {
                                div {
                                    span {
                                        &:after {
                                            width: 100%;
                                            left: 0;
                                            background-color: #ffcd00;
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            &:focus {
                                div {
                                    span {
                                        &:after {
                                            width: 100%;
                                            left: 0;
                                            background-color: #ffcd00;
                                        }
                                    }
                                }
                            }
                            div {
                                span {
                                    &:after {
                                        content: '';
                                        display: block;
                                        height: 0.2em;
                                        width: 0;
                                        position: relative;
                                        left: 50%;
                                        margin-top: 0.25em;
                                        background-color: #FFF;
                                        transition-property: width,background-color,left;
                                        transition-duration: .7s;
                                        transition-timing-function: ease;
                                    }
                                }
                            }
                        }
                    }
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        .office_image {
                            display: block;
                            width: 100%;
                            height: 15vh;
                        }
                        @media (min-width: 480px) {
                            .office_image {
                                height: 25vh;
                            }
                        }
                        div {
                            flex-direction: column;
                            position: absolute;
                            top: 50%;
                            left: 25%;
                            width: 50%;
                            transform: translateY(-50%);
                            text-align: center;
                            span {
                                display: flex;
                                flex-direction: column;
                                width: auto;
                                padding: 0.5em 1.5em;
                                background-color: #000;
                                font-size: 14px;
                            }
                        }
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        .contact_image {
                            display: block;
                            width: 100%;
                            height: 35vh;
                        }
                        div {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            bottom: -10%;
                            width: 110%;
                            background-color: rgba(0,0,0,.3);
                            transition: background-color .7s;
                            transform: translateY(-50%);
                            text-align: center;
                            &:hover {
                                background: rgba(0,0,0,1);
                            }
                            span {
                                display: flex;
                                flex-direction: column;
                                width: auto;
                                padding: 0.5em 1.5em;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            @media (min-width: 768px) {
                ul {
                    flex-direction: row;
                    flex-wrap: wrap;
                    &:first-child {
                        li {
                            flex: 0 1 40%;
                        }
                    }
                    &:last-child {
                        li {
                            flex: 0 1 25%;
                        }
                    }
                }
            }
            @media (min-width: 1366px) {
                ul {
                    &:first-child {
                        li {
                            flex: 0 1 25%;
                        }
                    }
                    &:last-child {
                        li {
                            flex: 0 1 25%;
                        }
                    }
                }
            }
        }
    }
}
