// Contact styling elements...

.childrenContainer {
    @include flexLayoutColumnDefault;
    .contact_summary {
        @include flexLayoutColumnDefault;
        justify-content: flex-start;
        .contact_full {
            @include flexLayoutColumnDefault;
            margin: $margin-none;
            padding: $padding-all;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            ul {
                @include flexLayoutColumnDefault;
                margin: $margin-bottom-half;
                padding: $padding-all;
                background-color: $background-color-primary;
                color: $font-color-primary;
                &:first-child {
                    li {
                        &:last-child {
                            margin: $margin-top-half;
                        }
                    }
                }
                &:last-child {
                    a {
                        text-transform: uppercase;
                    }
                }
                li {
                    &:first-child {
                        margin: $margin-bottom-half;
                    }
                    a {
                        background-color: $background-color-tertiary;
                        color: $font-color-tertiary;
                    }
                }
            }
        }
        @media (min-width: $resolution-large-mobile) {
            .contact_full {
                @include flexLayoutBasisThirty;
                @include flexLayoutResponsive;
            }
        }
        @media (min-width: $resolution-small-monitor) {
            .contact_full {
                @include flexLayoutBasisTwentyFive;
                @include flexLayoutResponsive;
            }
        }
        .contact_map {
            @include flexLayoutRowDefault;
            @include flexLayoutBasisSixty;
            @include flexLayoutResponsive;
            padding: $padding-all;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            iframe {
                width: $percent-hundred;
                min-height: $vh-fifty;
            }
            @media (min-width: $resolution-small-monitor) {
                iframe {
                    min-height: $vh-seventyFive;
                }
            }
        }
    }
    @media (min-width: $resolution-large-mobile) {
        .contact_summary {
            flex-direction: row;
        }
    }
    .contact_tree {
        @include flexLayoutColumnDefault;
        ul {
            @include flexLayoutColumnDefault;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin: $margin-bottom;
            padding: $padding-bottom-double;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            li {
                @include flexLayoutColumnDefault;
                justify-content: space-evenly;
                align-items: center;
                position: relative;
                width: $percent-seventyFive;
                max-height: $vh-thirtyFive;
                margin: $margin-top-double;
                padding: $padding-all;
                background-color: $background-color-primary;
                color: $font-color-primary;
                &.none {
                    &:hover {
                        span {
                            &:after {
                                width: $percent-hundred;
                                left: 0;
                                background-color: $color-red;
                            }
                        }
                    }
                    a {
                        cursor: not-allowed;
                        &:focus {
                            span {
                                &:after {
                                    width: $percent-hundred;
                                    left: 0;
                                    background-color: $color-red;
                                }
                            }
                        }
                        span {
                            &:after {
                                content: '';
                                display: block;
                                height: $page-indicator-height;
                                width: $percent-zero;
                                position: relative;
                                left: $percent-fifty;
                                margin: $margin-top-half;
                                background-color: $background-color-secondary;
                                color: $font-color-secondary;
                                transition-property: width,background-color,left;
                                transition-duration: .7s;
                                transition-timing-function: ease;
                            }
                        }
                    }
                }
                &:not(&.none) {
                    &:hover {
                        a {
                            span {
                                &:after {
                                    width: $percent-hundred;
                                    left: 0;
                                    background-color: $color-orange-light;
                                }
                            }
                        }
                    }
                    a {
                        &:focus {
                            span {
                                &:after {
                                    width: $percent-hundred;
                                    left: 0;
                                    background-color: $color-orange-light;
                                }
                            }
                        }
                        span {
                            &:after {
                                content: '';
                                display: block;
                                height: $page-indicator-height;
                                width: $percent-zero;
                                position: relative;
                                left: $percent-fifty;
                                margin: $margin-top-half;
                                background-color: $background-color-secondary;
                                color: $font-color-secondary;
                                transition-property: width,background-color,left;
                                transition-duration: .7s;
                                transition-timing-function: ease;
                            }
                        }
                    }
                }
                a {
                    @include flexLayoutColumnDefault;
                    align-items: center;
                    width: $percent-hundred;
                    background-color: $background-color-tertiary;
                    color: $font-color-tertiary;
                    .office_image {
                        display: block;
                        width: $percent-hundred;
                        height: $vh-fifteen;
                    }
                    @media (min-width: $resolution-small-mobile) {
                        .office_image {
                            height: $vh-twentyFive;
                        }
                    }
                    div {
                        @include flexLayoutColumnDefault;
                        position: absolute;
                        top: $percent-fifty;
                        left: $percent-twentyFive;
                        width: $percent-fifty;
                        transform: translateY(-50%);
                        text-align: center;
                        span {
                            @include flexLayoutColumnDefault;
                            width: auto;
                            padding: $padding-rl-tb;
                            background-color: $background-color-tertiary;
                            color: $font-color-tertiary;
                            font-size: $font-size-small;
                        }
                    }
                }
                div {
                    @include flexLayoutColumnDefault;
                    align-items: center;
                    width: $percent-hundred;
                    .contact_image {
                        display: block;
                        width: $percent-hundred;
                        height: $vh-thirtyFive;
                    }
                    div {
                        @include flexLayoutColumnDefault;
                        position: absolute;
                        bottom: -10%;
                        width: 110%;
                        background-color: rgba(0,0,0,.3);
                        transition: background-color .7s;
                        transform: translateY(-50%);
                        text-align: center;
                        &:hover {
                            background: rgba(0,0,0,1);
                        }
                        span {
                            display: flex;
                            flex-direction: column;
                            width: auto;
                            padding: $padding-rl-tb;
                            font-size: $font-size-small;
                            &:last-child {
                                a {
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: $resolution-large-mobile) {
            ul {
                flex-direction: row;
                flex-wrap: wrap;
                &:first-child {
                    li {
                        @include flexLayoutBasisForty;
                    }
                }
                &:last-child {
                    li {
                        @include flexLayoutBasisTwentyFive;
                    }
                }
            }
        }
        @media (min-width: $resolution-small-monitor) {
            ul {
                &:first-child {
                    li {
                        @include flexLayoutBasisTwentyFive;
                    }
                }
                &:last-child {
                    li {
                        @include flexLayoutBasisTwentyFive;
                    }
                }
            }
        }
    }
}
