// Form styling elements...

#contactForm {
    > .formBody {
        @include flexLayoutColumnDefault;
        background-color: $background-color-primary;
        color: $font-color-primary;
        > .formGroup {
            padding: $padding-all;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            &:first-child {
                @include flexLayoutColumnDefault;
                justify-content: space-between;
                .formRow {
                    .formElement {
                        width: $percent-hundred;
                        padding: $padding-top;
                    }
                }
            }
            @media (min-width: $resolution-large-tablet) {
                &:first-child {
                    flex-direction: row;
                }
            }
            &:last-child {
                @include flexLayoutRowDefault;
                .formRow {
                    &:last-child {
                        width: $percent-hundred;
                    }
                    @media (min-width: $resolution-small-mobile) {
                        &:last-child {
                            width: auto;
                            justify-content: space-evenly;
                        }
                    }
                    @media (min-width: $resolution-large-tablet) {
                        &:last-child {
                            justify-content: flex-end;
                        }
                    }
                }
            }
            @media (min-width: $resolution-small-mobile) {
                &:last-child {
                    flex-direction: column;
                }
            }
            > .formGroup {
                &:first-child {
                    @include flexLayoutBasisThirty;
                    @include flexLayoutResponsive;
                }
                &:last-child {
                    @include flexLayoutBasisSixty;
                    @include flexLayoutResponsive;
                }
            }
            > .formGroup:first-child {
                > .formRow:first-child {
                    > .formElement {
                        @media (min-width: $resolution-large-mobile) {
                            &:first-child {
                                input {
                                    border-radius: $border-radius-left-pointing;
                                }
                            }
                            &:last-child {
                                input {
                                    border-radius: $border-radius-right-pointing;
                                }
                            }
                        }
                    }
                }
            }
        }
        > .formGroup:last-child {
            .formRow {
                &:last-child {
                    padding: $padding-bottom;
                }
                .formElement {
                    margin: $margin-rl-tb;
                }
            }
        }
        .formGroup {
            .formRow {
                @include flexLayoutColumnDefault;
                padding: $padding-custom-formRow;
                background-color: $background-color-primary;
                color: $font-color-primary;
                .formElement {
                    label {
                        @include flexLayoutColumnDefault;
                        span {
                            &:last-child {
                                align-self: flex-end;
                                position: relative;
                                bottom: $form-counter-bottom;
                                right: $font-size;
                                color: $color-grey;
                            }
                        }
                    }
                    input {
                        height: unset;
                        padding: $padding-all;
                        border: $border-default;
                        border-radius: $px-four;
                        box-shadow: 0 0 0 0 transparent;
                        &.invalid {
                            background-color: $color-red-light;
                            &::placeholder {
                                color: $color-white;
                            }
                        }
                        &:hover {
                            border: $border-active;
                            background-color: $background-color-primary;
                            color: $font-color-primary;
                        }
                        &:focus {
                            border: $border-active;
                            background-color: $background-color-primary;
                            color: $font-color-primary;
                        }
                    }
                    textarea {
                        min-height: $vh-twentySeven;
                        padding: $padding-all;
                        border: $border-default;
                        border-radius: $px-four;
                        resize: none;
                        overflow: auto;
                        &.invalid {
                            background-color: $color-red-light;
                            &::placeholder {
                                color: $color-white;
                            }
                        }
                        &:hover {
                            border: $border-active;
                            background-color: $background-color-primary;
                            color: $font-color-primary;
                        }
                        &:focus {
                            border: $border-active;
                            background-color: $background-color-primary;
                            color: $font-color-primary;
                        }
                    }
                }
            }
            @media (min-width: $resolution-large-mobile) {
                .formRow {
                    flex-direction: row;
                }
            }
        }
    }
}
