/*
 * HelpSection styling elements...
 */

#root {
    .helpSection {
        @include flexLayoutColumnDefault;
        header {
            padding: 1em;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            * {
                background-color: $background-color-primary;
                color: $font-color-primary;
            }
        }
        .helpRow {
            @include flexLayoutColumnDefault;
            justify-content: space-between;
            align-items: inherit;
            padding: 0em 1em 1em 1em;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            .rowLabel {
                &:first-child {
                    flex: 0 0 20%;
                    padding: 0.5em;
                    background-color: $background-color-primary;
                    color: $font-color-primary;
                }
                &:last-child {
                    flex: 0 0 75%;
                    background-color: $background-color-primary;
                    color: $font-color-primary;
                }
            }
            .rowContent {
                @include flexLayoutColumnDefault;
                justify-content: space-between;
                align-items: flex-start;
                flex: 0 0 75%;
                padding: 0.5em;
                background-color: $background-color-primary;
                color: $font-color-primary;
                div {
                    &:first-child {
                        margin-bottom: 1em;
                    }
                    p {
                        strong {
                            margin-right: 1em;
                        }
                    }
                }
                p {
                    strong {
                        margin-right: 1em;
                    }
                }
            }
            > p {
                &:first-child {
                    flex: 0 0 20%;
                    padding: 0.5em;
                    background-color: $background-color-primary;
                    color: $font-color-primary;
                }
                &:last-child {
                    flex: 0 0 75%;
                    background-color: $background-color-primary;
                    color: $font-color-primary;
                }
            }
        }
        @media (min-width: 768px) {
            .helpRow {
                flex-direction: row;
                align-items: center;
            }
        }
    }
}
