/*
 * HelpSection styling elements...
 */

#root {
    .helpSection {
        @include flexLayoutColumnDefault;
        header {
            padding: $padding-all;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            * {
                background-color: $background-color-primary;
                color: $font-color-primary;
            }
        }
        .helpRow {
            @include flexLayoutColumnDefault;
            justify-content: space-between;
            align-items: inherit;
            padding: $padding-all;
            background-color: $background-color-secondary;
            color: $font-color-secondary;
            .rowLabel {
                &:first-child {
                    @include flexLayoutBasisTwenty;
                    padding: $padding-all-half;
                    background-color: $background-color-primary;
                    color: $font-color-primary;
                }
                &:last-child {
                    @include flexLayoutBasisSeventyFive;
                    background-color: $background-color-primary;
                    color: $font-color-primary;
                }
            }
            .rowContent {
                @include flexLayoutColumnDefault;
                @include flexLayoutBasisSeventyFive;
                justify-content: space-between;
                align-items: flex-start;
                padding: $padding-all-half;
                background-color: $background-color-primary;
                color: $font-color-primary;
                div {
                    &:first-child {
                        margin: $margin-bottom;
                    }
                    p {
                        strong {
                            margin: $margin-right;
                        }
                    }
                }
                p {
                    strong {
                        margin: $margin-right;
                    }
                }
            }
            > p {
                &:first-child {
                    @include flexLayoutBasisTwenty;
                    padding: $padding-all-half;
                    background-color: $background-color-primary;
                    color: $font-color-primary;
                }
                &:last-child {
                    @include flexLayoutBasisSeventyFive;
                    background-color: $background-color-primary;
                    color: $font-color-primary;
                }
            }
        }
        @media (min-width: $resolution-large-mobile) {
            .helpRow {
                flex-direction: row;
                align-items: center;
            }
        }
    }
}
