/*
 * Collage styling elements...
 */

#root {
    .collageContainer {
        @include flexLayoutColumnDefault;
        @include flexLayoutCenterDefault;
        flex-wrap: wrap;
        a {
            @include flexLayoutColumnDefault;
            @include flexLayoutCenterDefault;
            padding: 1em;
            &:hover {
                div {
                    opacity: 1;
                }
            }
            &:focus {
                div {
                    opacity: 1;
                }
            }
            img {
                display: block;
                width: 100%;
            }
            div {
                position: absolute;
                padding: 1em;
                background-color: $background-color-tertiary;
                color: $font-color-tertiary;
                opacity: 0;
            }
        }
    }
    @media (min-width: 768px) {
        .collageContainer {
            flex-direction: row;
        }
    }
}
