/*
 * Copyright styling elements...
 */

#root {
    > footer {
        footer {
            div {
                background-color: $background-color-primary;
                color: $font-color-primary;
            }
            .footer_copyright {
                margin: $margin-bottom;
                font-size: $font-size-small;
                strong {
                    display: block;
                    margin: $margin-all;
                    a {
                        background-color: $background-color-tertiary;
                        color: $font-color-tertiary;
                    }
                }
            }
            @media (min-width: $resolution-large-mobile) {
                .footer_copyright {
                    margin: $margin-none;
                }
            }
            .footer_by {
                font-size: $font-size-small;
                span {
                    display: block;
                    margin: $margin-all;
                    a {
                        background-color: $background-color-tertiary;
                        color: $font-color-tertiary;
                    }
                }
            }
        }
    }
}
